.sugestion-create-account {
  min-height: 348px;
  @apply bg-secondry mb-52;
}

.sugestion-create-account .wrapper {
  min-height: 348px;
  @apply flex flex-col-reverse lg:flex-row gap-2 h-full lg:pt-16 lg:px-24 w-full;
}

.sugestion-create-account .wrapper .left {
  min-height: 148px;
  background: url("/assets/images/home page/5.png") no-repeat center bottom;
  background-size: contain;
  @apply flex-1 relative;
}
.sugestion-create-account .wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}
.sugestion-create-account .wrapper .right {
  @apply flex-1 p-4 mt-4 lg:mt-0;
}
.sugestion-create-account .wrapper .right h2 {
  line-height: 46px;
  letter-spacing: -0.5px;
  @apply mb-8 text-white font-semibold text-center lg:text-start text-2xl lg:text-4xl;
}
.sugestion-create-account .wrapper .right a {
  @apply block w-full lg:w-80  no-underline text-lg   text-center p-2 lg:p-4 bg-orange hover:bg-orangeHover  rounded-md text-white font-bold;
}
