/* children*/

.children-nav-menu {
  @apply hover:border-none mr-6 hidden md:flex  gap-1 cursor-pointer select-none;
}

.children-nav-menu > span {
  @apply flex items-center gap-2 h-full;
}
.children-nav-menu .list {
  @apply relative;
}
.children-nav-menu .list .menu {
  top: 150%;
  @apply absolute  bg-white w-44 -right-4  hidden flex-col gap-1 border rounded-sm shadow-sm;
}
.children-nav-menu .list .menu.display {
  @apply flex;
}
.children-nav-menu .list .menu::after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  width: 16px;
  height: 16px;
  transform: rotate(45deg) translateY(-40%) translateX(-40%);
  border-top: 1px solid rgb(235, 234, 232);
  border-left: 1px solid rgb(235, 234, 232);
  border-top-left-radius: 3px;
  background: rgb(255, 255, 255);
}

.children-nav-menu .menu span {
  @apply flex items-center gap-3 justify-start px-4  py-2 hover:bg-slate-100 z-10;
}
.children-nav-menu .menu span:not(span:last-child) {
  @apply border-b;
}
