.login-page {
  background-color: #f7e9db;
  min-height: 100vh;
  @apply dark:bg-darkBody
}
.login-page .login-nav {
  @apply px-4 flex justify-between items-center bg-white  dark:bg-darkNav text-black dark:text-darkPText font-bold capitalize text-lg h-16;
}
.login-page .login-nav div {
  @apply flex  items-center;
}
.login-page .login-nav .left img {
  @apply w-24 h-24 mr-8;
}
.login-page .login-nav .left .home {
  @apply flex items-center gap-2 cursor-pointer;
}
.login-page .login-nav .left .home span {
  @apply hidden md:block;
}
.login-page .login-nav .right {
  @apply flex items-center gap-3 h-full;
}
.login-page .login-nav .right span {
  @apply hidden md:block;
}
.login-page .login-nav .right a {
  @apply bg-orange flex items-center justify-center hover:bg-orangeHover hover:border-none h-2/4 md:h-3/4  text-white   font-bold text-lg w-24 md:w-36 text-center rounded-md  cursor-pointer;
}
/******************************************************/
.login-page .login-form {
  @apply max-w-md bg-white dark:bg-darkCard rounded-md p-8 flex flex-col gap-2 mx-auto my-12;
}
.login-page .login-form h3 {
  @apply capitalize font-bold text-2xl text-center w-full mb-2;
}
.login-page .login-form .login-socail {
  @apply flex flex-col gap-3;
}
.login-page .login-form .login-socail div {
  @apply flex items-center rounded-sm shadow-md p-2 py-3 cursor-pointer;
}
.login-page .login-form .login-socail div svg {
  @apply w-6 h-6 mr-1 text-white;
}
.login-page .login-form .login-socail div span {
  @apply flex-1 text-center text-white text-base font-semibold border-l;
}
.login-page .login-form .login-socail .facebook {
  background-color: #436cf2;
}
.login-page .login-form .login-socail .google {
  background-color: #4285f4;
}
.login-page .login-form .login-socail .apple {
  background-color: #2b2a29;
}

/********************************************/

.login-page .login-email {
  @apply relative w-full text-center text-sm my-3;
}
.login-page .login-email::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #cccccc;
  top: 50%;
  left: 0;
  width: 33%;
}
.login-page .login-email::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #cccccc;
  top: 50%;
  right: 0;
  width: 33%;
}

.login-page form {
  @apply flex gap-4 flex-col;
}
.login-page form .input-form {
  @apply flex gap-1 flex-col;
}
.login-page form .input-form input {
  border: 1px solid #cccccc;
  @apply p-2 rounded-sm focus:border-black dark:bg-transparent;
}
.login-page form a {
  @apply underline text-orange capitalize hover:text-orangeHover;
}
.login-page form input[type="submit"] {
  @apply w-full rounded-md py-3 font-bold text-lg capitalize bg-orange hover:bg-orangeHover text-white cursor-pointer;
}
.login-page form input[type="submit"]:disabled {
  @apply bg-gray-400 dark:bg-gray-500 
}
