.login-page {
  background-color: #f7e9db;
  min-height: 100vh;
  @apply dark:bg-darkBody
}

.login-page .login-form {
  @apply max-w-md bg-white dark:bg-darkCard rounded-md p-6 md:p-8 flex flex-col gap-2 mx-auto my-12;
}
.login-page .login-form h3 {
  @apply capitalize font-bold text-2xl text-center w-full mb-2;
}
.login-page .login-form .login-socail {
  @apply flex flex-col gap-3;
}
.login-page .login-form .login-socail div {
  @apply flex items-center rounded-sm shadow-md p-2 py-3 cursor-pointer ;
}
.login-page .login-form .login-socail div svg {
  @apply w-6 h-6 mr-1 text-white ;
}
.login-page .login-form .login-socail div span {
  @apply flex-1 text-center text-white text-base font-semibold border-l;
}
.login-page .login-form .login-socail .facebook {
  background-color: #436cf2;
}
.login-page .login-form .login-socail .google {
  background-color: #4285f4;
}
.login-page .login-form .login-socail .apple {
  background-color: #2b2a29;
}

/********************************************/



 .login-page .login-email {
  @apply flex justify-between items-center gap-2 my-3
}
 .login-page .login-email span {
  @apply bg-[#cccccc] flex-1 h-[1px]
}



.login-page form {
  @apply flex gap-4 flex-col;
}
.login-page form .input-form {
  @apply flex gap-1 flex-col;
}
.login-page form .input-form input {
  border: 1px solid #cccccc;
  @apply p-2 rounded-sm focus:border-black dark:bg-transparent;
}
.login-page form a {
  @apply underline text-orange capitalize hover:text-orangeHover;
}
.login-page form input[type="submit"] {
  @apply w-full rounded-md py-3 font-bold text-lg capitalize bg-orange hover:bg-orangeHover text-white cursor-pointer;
}
.login-page form input[type="submit"]:disabled {
  @apply bg-gray-400 dark:bg-gray-500 
}
