.parent-nav-menu {
  @apply flex items-center gap-2 h-full cursor-pointer ;
  
}


.parent-nav-menu > span {
  @apply flex items-center gap-2 h-full;
}
.parent-nav-menu .list {
  @apply relative;
}
.parent-nav-menu .list .menu {
  top: 150%;
  @apply absolute  bg-white w-48 -right-4  hidden flex-col gap-1 border rounded-sm shadow-sm ;
}

.parent-nav-menu .list .menu.display {
  @apply flex;
}

.parent-nav-menu .list .menu::after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  width: 16px;
  height: 16px;
  transform: rotate(45deg) translateY(-40%) translateX(-40%);
  border-top: 1px solid rgb(235, 234, 232);
  border-left: 1px solid rgb(235, 234, 232);
  border-top-left-radius: 3px;
  background: rgb(255, 255, 255);
}
.parent-nav-menu .menu > span {
  color: #6d6c6a;
  @apply flex items-center gap-3 justify-start px-4  py-2 hover:bg-slate-100 z-10;
}
