.parent-dashboard .dashboard-wrapper {
  color: rgb(77, 76, 75);
  min-height: calc(100vh -80px);
  @apply block lg:grid grid-cols-5   gap-8 bg-transparent my-8 dark:text-darkPText;
}
.parent-dashboard .dashboard-wrapper .nav {
  @apply col-span-1 hidden md:block h-full;
}
.parent-dashboard .dashboard-wrapper .nav ul {
  @apply flex flex-col gap-2;
}
.parent-dashboard .dashboard-wrapper .nav ul li {
  @apply flex gap-4 px-2 py-3 cursor-pointer;
}
.parent-dashboard .dashboard-wrapper .nav ul li:first-child {
  background-color: #e5ebeb;
  @apply dark:bg-darkHover;
}

.parent-dashboard .dashboard-wrapper .dashboard {
  @apply col-span-4 mt-8 md:mt-0 h-full;
}
.parent-dashboard .dashboard-wrapper .dashboard .title {
  @apply font-normal text-3xl mb-4;
}

.parent-dashboard .dashboard-wrapper .dashboard .boxs {
  height: calc(100vh - 200px);
  @apply block md:grid gap-3 grid-cols-5 grid-rows-5;
}
.parent-dashboard .dashboard-wrapper .dashboard .boxs > div {
  border: 1px solid rgb(235, 234, 232);
  box-shadow: rgb(43 42 41 / 30%) 0px 1px 4px;
  background-color: white;
  @apply rounded-md mb-4 md:mb-0 dark:bg-darkCard;
}
.parent-dashboard .dashboard-wrapper .dashboard .activity {
  grid-area: 1 / 1 / 6 / 4;
  overflow: hidden;
  @apply relative;
}
.parent-dashboard .dashboard-wrapper .dashboard .activity h3 {
  @apply p-4 border-b text-lg;
}
.parent-dashboard .dashboard-wrapper .dashboard .activity .tasks {
  @apply p-2;
}
.parent-dashboard .dashboard-wrapper .dashboard .activity .tasks .btns {
  @apply absolute bottom-0 py-4 px-6 z-40 w-full bg-white left-0 flex justify-end;
}
.parent-dashboard .dashboard-wrapper .dashboard .activity .tasks button {
  @apply border bg-backBtnColor p-2 rounded-sm hover:bg-backBtnColorHoner shadow-sm ml-3;
}
.parent-dashboard .dashboard-wrapper .dashboard .activity .no-tasks {
  padding: 56px 32px;

  @apply flex flex-col justify-center items-center gap-4 text-center;
}
.parent-dashboard .dashboard-wrapper .dashboard .activity .no-tasks img {
  @apply h-1/2;
}
.parent-dashboard
  .dashboard-wrapper
  .dashboard
  .activity
  .no-tasks
  span.description {
  @apply text-xs;
}
.parent-dashboard .dashboard-wrapper .dashboard .activity .no-tasks button {
  border: 1px solid rgb(191, 191, 191);
  @apply w-52 px-4 py-2 rounded-sm bg-backBtnColor dark:bg-transparent dark:hover:bg-darkHover hover:bg-backBtnColorHoner cursor-pointer;
}

.parent-dashboard .dashboard-wrapper .dashboard .grade {
  grid-area: 1 / 4 / 2 / 6;
  color: #4d4c4b;
  @apply relative overflow-hidden p-4 dark:text-darkPText;
}
/* .parent-dashboard
  .dashboard-wrapper
  .dashboard
  .subject-data:hover
  span.view-all {
  @apply flex;
}
.parent-dashboard .dashboard-wrapper .dashboard .subject-data span.view-all {
  @apply absolute bottom-0  capitalize underline cursor-pointer hidden  w-full   justify-center items-center h-10  ;
} */

.parent-dashboard .dashboard-wrapper .dashboard .grade h3 {
  @apply pb-1 text-lg   sticky top-0 bg-white dark:bg-darkCard flex justify-between items-center;
}
.parent-dashboard .dashboard-wrapper .dashboard .grade p {
  @apply text-sm;
}

/* .parent-dashboard .dashboard-wrapper .dashboard .subject-data .loading {
  @apply w-10 h-10 bg-transparent mx-auto;
}

.parent-dashboard .dashboard-wrapper .dashboard .subject-data .no-data {
  @apply flex flex-col justify-center items-center gap-3 mt-8;
}
.parent-dashboard .dashboard-wrapper .dashboard .subject-data .no-data span {
  @apply text-sm;
}
.parent-dashboard .dashboard-wrapper .dashboard .subject-data .no-data a {
  @apply underline cursor-pointer;
}
.parent-dashboard .dashboard-wrapper .dashboard .subject-data .data {
  @apply flex flex-col gap-2 w-full p-4 overflow-y-scroll h-2/3 ;
} */

.parent-dashboard .dashboard-wrapper .dashboard .boxs .feadback {
  grid-area: 2 / 4 / 6 / 6;
}
.parent-dashboard .dashboard-wrapper .dashboard .boxs .feadback h3 {
  @apply p-4 border-b text-lg;
}

.parent-dashboard .dashboard-wrapper .dashboard .feadback .body {
  @apply flex justify-center items-center p-4 h-24;
}
