.manage-account .heading {
  @apply flex justify-between items-center mt-12 mb-6 px-40;
}
.manage-account .heading span {
  color: rgb(77, 76, 75);
  @apply text-2xl font-bold dark:text-darkPText;
}
.manage-account .heading button {
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: normal;
  cursor: pointer;
  user-select: none;
  padding: 7px 16px;
  background: rgb(167, 43, 69);
  border: 1px solid rgb(167, 43, 69);
  box-shadow: rgb(43 42 41 / 10%) 0px 1px 2px;
  color: rgb(255, 255, 255);
}
.manage-account .body {
  color: #4d4c4b;
  border: 1px solid rgb(235, 234, 232);
  box-shadow: rgb(43 42 41 / 30%) 0px 1px 4px;
  @apply max-w-xl mx-auto mt-12  p-6 bg-white rounded-md dark:bg-darkCard dark:border-none;
}

.manage-account .body h3 {
  @apply mb-3 font-semibold;
}
.manage-account .body > span {
  @apply block text-sm mb-3;
}
.manage-account .body .info {
  @apply flex flex-col mb-3 gap-2;
}
.manage-account .body form .input {
  @apply mb-4 w-full;
}
.manage-account .body form .input > span {
  @apply block mb-1;
}
.manage-account .body form .input div {
  @apply w-full flex items-center;
}
.manage-account .body form .input div input {
  appearance: none;
  height: 36px;
  padding: 5px 16px;
  background-color: white;
  transition: border-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
  border: 1px solid rgb(109, 108, 106);
  border-radius: 3px;
  font-size: 16px;
  @apply w-2/3 mr-3;
}
.manage-account .body form .input div .select {
  @apply w-2/3 mr-3;
}

.manage-account .body form .input div button {
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: normal;
  cursor: pointer;
  user-select: none;
  padding: 7px 16px;
  background: rgb(251, 251, 251);
  border: 1px solid rgb(191, 191, 191);
  box-shadow: rgb(43 42 41 / 10%) 0px 1px 2px;
  box-sizing: border-box;
  color: rgb(77, 76, 75);
}
