.select-subject {
   @apply w-full

}
.select-subject .wrapper {
    @apply flex  flex-col md:flex-row  w-full  gap-3 justify-center items-center my-12 md:my-20
}

.select-subject .wrapper div{ 
    @apply  text-lg font-bold  duration-200 rounded-md  py-2  h-36 md:h-40 w-full md:w-52 cursor-pointer 
}

.select-subject .wrapper .english {
  background: url("/../../../../../public/assets/images/english.jpg") no-repeat center
    center;
  background-size: cover;
}
.select-subject .wrapper .math {
  background: url("/../../../../../public/assets/images/maths.avif") no-repeat center
    center;
  background-size:cover;
}
.select-subject .wrapper .arabic {
  background: url("/../../../../../public/assets/images/arabic.jpg") no-repeat center
    center;
  background-size: cover;
}