.select-subject {
  @apply w-full;
}
.select-subject .wrapper {
  @apply block  md:grid grid-cols-3  w-full  gap-4  p-4 my-10;
}

.select-subject .wrapper div {
  @apply col-span-1 text-lg font-bold  duration-200 rounded-md   cursor-pointer overflow-hidden mb-4 md:mb-0;
}
.select-subject .wrapper div img {
  @apply w-full object-cover h-auto;
}

/* .select-subject .wrapper .english {
  background: url("../../assets/images/english.jpg") no-repeat center center;
  background-size: cover;
}
.select-subject .wrapper .math {
  background: url("../../assets/images/maths.avif") no-repeat center center;
  background-size: cover;
}
.select-subject .wrapper .arabic {
  background: url("../../assets/images/arabic.jpg") no-repeat center center;
  background-size: cover;
} */
