.error-construction .error-construction-wrapper {
  @apply max-w-xl mx-auto my-12 flex flex-col justify-between items-center gap-8 p-4;
}

.error-construction .error-construction-wrapper span {
  @apply font-bold text-center;
}

.error-construction .error-construction-wrapper p {
  @apply w-full text-center text-sm sm:px-4 md:px-6 ;
}

.error-construction .error-construction-wrapper a {
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 120px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  white-space: nowrap;
  overflow-wrap: normal;
  user-select: none;
  cursor: pointer;
  padding: 7px 16px;
  background: rgb(36, 83, 83);
  border: 1px solid rgb(36, 83, 83);
  box-shadow: rgba(43, 42, 41, 0.1) 0px 1px 2px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

.error-construction .error-construction-wrapper a:hover {
  background-color: #1c3d3d;
}
