.SubjectData {
    width: 100%;
}

.SubjectData .wrapper {
    @apply p-8 flex  gap-10 items-center justify-between mx-10
}

.addWord {
    @apply flex-1 flex gap-5  items-center
}

.SubjectData .image{
    @apply w-52 h-52  relative border p-4 
}

.SubjectData .image img{
    @apply w-full h-full object-cover -z-10
}
.SubjectData .image label{
    @apply  absolute w-full h-full top-0 left-0  flex justify-center items-center cursor-pointer
}
.SubjectData .image label span{
    @apply font-bold flex flex-col gap-2 items-center justify-center
}
.SubjectData .image input{
    @apply hidden 
} 

.inputs{
 @apply flex  flex-col gap-4
}
.inputs .input {
 @apply flex  flex-col gap-2

}
.inputs .input label{
    @apply font-semibold
}
.inputs .input input {
    @apply p-3 bg-gray-200 focus:outline-none rounded-md
}

.inputs > button{
    @apply py-2 bg-green-600 rounded-md
}


.enteredData {
    height: 300px;
    @apply flex-1 flex flex-col  gap-4 overflow-y-scroll border-2 p-2
}
.enteredData .word {
    @apply w-full flex justify-between items-center border p-3 bg-slate-200 shadow-md
}
.enteredData .word .info {
    @apply flex gap-2 items-center
}
.enteredData .word .info img {
    @apply w-10 h-10
}
.enteredData .word .controlBTN {
    @apply flex gap-2 rounded-md 

}
.enteredData .word .controlBTN span {
    @apply capitalize cursor-pointer

}